.stars {
    position: relative;
    display: inline-block;
    color: $gray-300;
}

.filled {
    position: absolute;
    top: 0.3125rem;
    overflow: hidden;
    height: 100%;
    display: flex;
    color: $primary;

    // @media screen and (max-width: 1025px){
    //     top: 3px;
    // }
}
